/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: myfont;
  src: url('../fonts/nourd_regular.ttf');
}
body {
  overflow: auto;
  margin: 0;
  padding: 0;
    font-family: myfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidescroll {
  overflow: hidden!important;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #e8e1d9;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
.display {
  opacity: 1!important;
}
.container {
  /* height: auto; */
  width: auto;
  max-width: 1400px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}


.contact .row {
  width: 100%;
}
.row {
  /* background-position: center -100px;
  -webkit-filter: blur(7px); */
  display: flex;
  /* height: 3rem; */
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.img-fluid {
  max-width: 60%;
  width: 100%;
  /* border-radius: .5; */
}
.text-center {
  text-align: center;
}
.bgred {
  background-color: #125c13;
}
.btn {
  outline: 0;
  border: 0;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  color:white;
  font-weight: 500;
  z-index: 1;
  background-color: #01bf71;
  padding:  10px 50px;
  margin: 0 0.5rem;
}

.col-md-12 {
  width: 100%;
}
.col-md-6 {
  width: 49.9%;
}
.col-md-3 {
  /* margin-top: 3rem; */
  padding-top: 6rem;
  height: 2rem;
  /* margin: 0 1rem!important; */
  width:100%;
}

.col-md-4 {
  width:25%;
}
.col-md-4:first-child {
  /* margin-right: 1rem; */

}
.col-md-4:last-child {
  /* margin-left: 1rem; */

}

.x {
  margin: 0rem 1rem!important;
  width:33.3%;
}
/* Navbar */
.navopened {
  background-color: #E8E1D9!important;
}
.navopened .logo {
  color: #fafafa!important;
}
.navopened ul li a {
  color: #125C13!important;
}
.navopened .burger {
  background-color: #E8E1D9!important;
}
.navbar {
  transition: background-color 0.4s;
  position: fixed;
  top: 0;
  width: 100% ;
  height: 4rem;
  padding: 0.5rem;
  background-color: #E8E1D9;
  z-index: 2;
  /* backdrop-filter: blur(2px); */
}
.navbar .logo {
  transition: all 0.2s;
  height: 100px;
  align-items: center;
  align-content: center;
  color: #125C13;
  letter-spacing: 2px;
  width: 25rem;
  font-weight: 400;
  margin: 0;
  font-size: 28px;
  padding-top: 10px;
}
.logoimg{
  /* margin-top: 25px; */
  /* background-position: center;
  background-size: contain; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60.06px;
  padding-bottom: 5px;
  width: 196.06px;
}
.navbar ul { 
  transition: all 0.2s;
  margin-bottom: 25px;
  margin-left: 25rem;
  list-style: none;
}
.navbar ul li {
  margin: 0 1rem;
  display: inline-block;
  /* width: 25rem; */
}
.nav-link{
  margin-left: 20rem;
}
.navbar ul li a {
  transition: all 0.2s;
  font-size: 20px;
  cursor: pointer;
  /* width: 2rem; */
  text-decoration: none;
  color: #125C13;
  font-weight: 400;

}
.button {
  cursor: pointer;
  transition: transform 0.2s linear;
  position: fixed;
  transform:translateX(300%);
  top: 20px;
  right: 15px;
  z-index: 1;
}
.burger {
  transition: all 0.2s;

  margin-bottom: 0.45rem;
  width: 25px;
  height: 3px;
  background-color: #125c13;
}
/* Header */
.carousel {
  margin-top: 20px;
  max-width: 100%;
  /* width: fit-content; */

}
.carousel img{
  width: 60rem;
  height: 40rem;

}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: black;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.header {
  height: 100vh;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f0f0f0;
}

.headertext{
  flex: 1;
}
.headertext h1{
  font-size: 68px;
  width: 36.88rem;
  display: flex;
  margin-left: 8rem;
  padding-left: 5px;
  font-weight: 600;
  line-height: 81.4px;
  margin-bottom: 10px;
}
.headertext p{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  margin-top: 0;
  width: 26.688rem;
  /* padding-left: 25px; */
}
.headbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 270px;
  height: 53px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #9DC812;
  color: #E8E1D9;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  outline: none;
  margin-left: 133px;
}
.headerimg{
  display: flex;
  justify-content: center;
  flex: 1;
  /* position: sticky; */
  height: 383px;
  width: 448px;
  /* left: 800px;
  top: 200px; */

}
/* header h1 {
  top: 30rem;
  z-index: 200;
  color: white;
  font-size: 64px;
} */
.opened {
  transform: translateX(0%)!important;
}
/* main */
.main-title {
  font-size: 24px;
  color: #125c13;
}

main {
  justify-content: center;
  /* max-height: 3000px; */
  padding: 0 0 3rem 0;
  background-color: #fafafa;
  width: 100%;
}
.why{
  margin-top: 150px;
  height: auto;
}
.wrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 80rem;
  
}
.certiimg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cimg{
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 60px 0 60px;
  /* width: 60px; */
}
.wcard{
  display: flex;
  align-items: center;
  border-radius: 10px 10px 5px 5px;
  width: 100%;
  padding: 20px;
  /* width: 21.7rem; */
  height: 100px;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  background-color: rgba(232, 255, 217, 0.5);
}
/* footer */
.text-white {
  color: #125c13;
}
.footer-top {
  margin: 0;
  padding: 0.1rem 0;
  background-color: #01bf71;
}
.footer-top p {
  font-size: 18px;
}
.footer-text {
  margin-top: 2.5px;

  font-size: 18px;
  color:#124c13;
}
footer {
  width: 100%;
  height: 8rem;
  margin: 0;
  padding: 0 0 1.4rem 0;
  background-color:#e8e1d9;
}
.side1 {
  width: 50%;
}
.side2 {
  width: 50%;

}
footer .col-md-3 {
  height: 10rem;
}
footer .logo {
  transition: all 0.2s;
  margin-bottom: 0;
  align-items: center;
  align-content: center;
  color: #125c13;
  letter-spacing: 2px;
  font-weight: 700;

  font-size: 28px;
}
.logo a{
  text-decoration: none;
  color: #125c13;
  
}
.footer-title {
  color: #125c13;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0;
  word-wrap:initial;
}
footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 2.5px;
}
footer ul li a {
  text-decoration: none;
  color: #125c13;
  font-size: 18px;
  font-weight: 500;
}
.gotop {
  transition: all 0.2s;
  background-color: #01bf71;
  position: fixed;
  border-radius: 25px;
  padding: 1rem;
  border: 0;
  opacity: 0;
  outline: 0;
  cursor: pointer;
  font-weight: 1000;
  box-shadow: 0px 0px 5px 0.2px #000000;
  color: white;
  bottom: 20px;
  right: 15px;
  
}
/* Services */
.card-title {
  color: #125c13;
  font-size: 18px;
  font-weight: 400;
}
.p-3 {
  padding: 0.2rem 1rem;
}
.card-text {
  padding: 0rem 0rem 1rem 0rem;
  font-weight: 300;
  font-size: 15px;
  color: #8b8b8b;
  font-weight: 300;

}

.card {
  cursor: pointer;
  border-radius: 10px 10px 5px 5px;
  width: 100%;
  transition: all 0.2s;
  /* background-color: #FFB534; */
  /* box-shadow: 12px 12px 5px 5px #e5e5e5; */

}
.card:hover {
  transform:scale(1.03);
}
.bg-img{
  /* background-image: url('./img/img1.png'); */
  /* background-color: #65B741; */
  border-radius: 15px;
}

.services .col-md-4 {
  margin: 1rem 1rem 1rem 1rem;
  /* background-color: #000000; */

}
ul li a {
  cursor: pointer;
}
/* About */
.customdiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1D291DC2;;
  margin-top: 4rem;
  height: 37.88rem;
  border-radius: 20px;
}
.customdiv2{
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  background-color: #1D291DC2;;
  margin-top: 11rem;
  height: 25rem;
  border-radius: 20px;
}
.abtn{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #125c13;
  width: 230px;
  height: 51px;
  border-radius: 13px;
  border: 0;
  background-color: #9dc812;
  cursor: pointer;
}
.vbtn{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #125c13;
  width: 230px;
  height: 51px;
  border-radius: 13px;
  border: 0;
  background-color: #9dc812;
  cursor: pointer;
}

.about {
  margin-bottom: 15rem;
  background-image: url('../src/img/field.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 

}
.about p{
  display: flex;
  align-items: center;
  font-size: 22px;
  padding: 15px;
  font-weight: 300;
  color: #e8e1d9;
  line-height: 36px;
  width: 45.75rem;
  height: 18rem;
}
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 4s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-cover {
  padding: 2rem 0rem;
  background-color: #f0f0f0;
  /* opacity: 0.5; */
  border-radius: 20px;
  height: auto;
  /* width: 100%; */

}

.sub-container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reach{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b8b8b;
  border-radius: 15px;
  cursor: pointer;
  height: auto;
  width:20rem;
}
.card-content{
  transition: opacity 0.3s ease-in-out;
}
.s {
  width: 100%;
  margin: 0 1rem!important;
}

.contact-input {
  color:#125c13;
  border-radius: 5px;
  padding: 15px 0px 10px 5px;
  font-size: 15px;
  width: 10rem;
  outline: 0;
  border: 2px solid #8b8b8b;
  /* background-color: #FFB534; */

}
.contact-textarea::placeholder,
.contact-input::placeholder{
  font-weight: 0;
  font-size: 15px;
  opacity: 0.5;
}
.form-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #125c13;
  width: 40%;
  margin-bottom: 25px;
  font-weight: 500;
  z-index: 1;
  background-color: #e8e1d9;
  padding: 10px 40px;

  transition: background-color 0.2s;
}
.contact-textarea {
  color:#125c13;
  border-radius: 5px;
  border: 2px solid #8b8b8b;
  padding: 15px 0px 10px 5px;
  font-size: 18px;
  width: 50%!important;
  min-width: 90%!important;
  max-width: 100%!important;
  height: 300px;
  min-height: 300px;
  max-height: 600px;
  outline: 0;
}
@media (max-width:1440px){
  .wrow{
    width: 95%;
    /* margin-left: 30px;
    margin-right: 30px; */
    /* width: 12rem; */
  }
  .wcard{
width: 17.5rem;
  }
  .card-cover{
    padding: 32px;
  }
  .customdiv2{
    margin-top: 230px;
  }
  .about p{
    width: auto;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1300px;
  }
  .customdiv{
    margin-top: 6.5rem;
  }
  .about p{
    width: auto;
  }
  .abtn{
    margin-top: 35px;
  }
  .wrow{
    width: 60rem;
  }
.customdiv2{
  margin-top: 12rem;
}
}
@media (max-width:1024px) {
  .wrow{
    width: 60rem;
  }
  .wcard{
    /* padding-right: 30px; */
    flex-wrap: wrap;
    align-items: center;
    width: 11rem;
    margin-top:25px;
    margin-left: 0;
    margin-right: 30px;
    height: 100px;
    align-content: normal;
  }
  .card-text{
    font-size: 11px;
  }
  .card-cover{
    padding: 32px 20px;
  }
  .headertext{
    padding-bottom: 40px;
  }
  .header{
    margin-top: 5rem;
    height: 40rem;
    /* flex-direction: row; */
    flex-wrap: nowrap;
  }
  .headertext h1{
    margin-left: 30px;
  }
  .headertext p{
    margin-left: 38px;
    justify-content: flex-start;
  }
  .headbtn{
    margin-left: 38px;
  }
  .customdiv{
    margin-top: 1.5rem;
  }
  .customdiv p{
    font-size: 17px;
  }
  .navbar ul{
    width: 30rem;
    margin: 0;
  }
  
}

@media (max-width: 992px) {
  .col-md-4 {
    width: 49.9%;
  }
  .navbar ul {
    margin-left: 5rem;
  }
  .container {
    max-width: 960px;
  }
  .col-md-3 {
    width: 100%;
  }
  .side1 .row {
    display: flex;
    width: 100%;
  }
  .side2 .row {
    display: flex;
    width: 100%;

  }
}

@media (max-width: 768px) { 
  .header {
    /* margin-top: 10rem; */
    height: auto;
    flex-direction: column-reverse;
    /* flex-direction: column; */
    text-align: center;
    font-size: 20px!important;
  }
 .wrow{
  width: auto;
 }
 .card-cover{
  padding-left: 8px;
 }
 .wcard{
  margin-right: 10px;
 }

  .headerimg ,
  .headertext{
    width: 100%;
  }
  .headertext{
    width: auto;
    margin-left: 0px;
  }
  .headertext h1{
    margin-left: 0;
  }
  .headertext p{
    justify-content: flex-end;
    margin-left: 50px;
  }
  .headbtn{
    margin-left: 160px;
  }
  .customdiv2{
    margin-top: 11rem;
    height: fit-content;
  }
  .customdiv2 p{
    font-size: 15px;
    height: auto;
    line-height: normal;
  }
  .customdiv{
    margin-top: 80px;
    height: 30rem;
  }
  .customdiv p{
    font-size: 15px;
    height: auto;
    line-height: normal;
  }
  .cimg{
    margin: 30px 30px 0 30px;
  }
  .footer .logoimg{
    height:40px;
    width: auto;
  }
  .container {
    max-width: 720px;
  }
  .navbar ul { 
    margin-left: 0rem;
    list-style: none;
  }
  .col-md-4 {
    width: 30%!important;
  }

}
@media (max-width: 576px) { 
  .col-md-4:first-child {
    margin-right: 0;
  
  }
  .col-md-4:last-child {
    margin-left: 0;
  
  }
  .services .col-md-4 {
    margin: 2rem auto!important;
    width: 87.9%!important;

  }
  .col-md-4 {
    
    width: 100%!important;
  }
  .contact .col-md-4 {
    
    margin: none!important;
    }
  .col-md-3 {
    margin: 0!important;
  }

  footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .side1 {
    width: 100%;
  }
  .side2 {
    width: 100%;
  
  }
   .navopened ul {
    top: 55px!important;

   }
  .navopened {
    background-color: #558257!important;
  }
  .navopened .logo {
    color: #fafafa!important;
  }
  .navopened ul li a {
    color: #125c13!important;
  }
  .navopened .burger {
    background-color: #125c13!important;
  }
  .container {
    width: auto;
  }
  .header {
    display: flex;
    margin-top: 3.9rem;
    justify-content: center;
    align-items: center;
    /* align-items:start; */
    flex-direction: column-reverse;
    /* flex-direction: column; */
    text-align: center;
    font-size: 20px!important;
  }

  .headertext h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-left: 15px;
    font-weight: 800;
    width: 20rem;
  }
  .headertext p{
    display: flex;
    margin-left: 60px;
    font-weight: 600;
    width: 15rem;
    align-items:center ;


  }
  .headbtn{
    width: 200px;
    cursor: pointer;
    margin-left: 80px;
  }
  .headerimg {

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .farmerimg{
    width: 400px;
  }
  .btn {
    margin-bottom: 10px;
    padding:  10px 30px;

  }
  .mcard{
    /* margin-left: 20px; */
  }
.wcard{
  margin-right: 25px;
  width: auto;
}

  .container {
      max-width: 540px; 
  }

  .button {
    transform:translateX(0);

  }

  .navbar .logo {
    z-index: 3;
    color: #fafafa;
    padding-top: 0;
  }

  .burger {
    background-color: #db3716;
  }
  .navbar {
    backdrop-filter: none;
    padding: 10px 0;
    height: 50px;
  }
  .navbar ul { 
    backdrop-filter: blur(20px);

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-top: 10rem;
    transform: translateX(-100%);
  }

 .logoimg{
    height: auto;
    width: 150px;
  }
  .navbar ul li {
    margin: 2rem 0rem;
    display: block;
  }
  .nav-link{
    margin-left: 0;
  }
  .navbar ul li a {
      cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: #db3716;
    font-weight: 500;
  
  }
  .col-md-6 {
    width: 100%;
  }
  .row {
    display: inline-block;
  }
  .wrow{
    display: inline-block;
  }
  .certiimg{
    display: inline-block;
  }
  .cimg{
    height:150px;
    width:min-content;
  }
  .footer-title{
    font-size: 12px;
  }
  footer ul li a{
    font-size: 10px;
  }
  .footer .logoimg{
    height: 30px;
  }

}

.mb-2 {
  margin-bottom: 2rem!important;
}
.mb-1 {
  margin-bottom: 1rem!important;
}
